MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=homeassistant #optional
MYSQL_USER=homeassistant #optional
MYSQL_PASSWORD=password
ZWAVE_DEVICE_ID=/dev/serial/by-id/zwave-stick-id
FRIGATE_RTSP_PASSWORD=password
FRIGATE_CAMERA_USERNAME=frigate
FRIGATE_CAMERA_PASSWORD=password
