*.env
config/homeassistant/*
!config/homeassistant/.gitkeep

data/homeassistant/*
!data/homeassistant/.gitkeep

data/mariadb/*
!data/mariadb/.gitkeep
log/mariadb/*
!log/mariadb/.gitkeep

data/mosquitto/*
!data/mosquitto/.gitkeep
log/mosquitto/*
!log/mosquitto/.gitkeep

data/zwave-js-ui/db/*
!data/zwave-js-ui/db/.gitkeep
data/zwave-js-ui/store/*
!data/zwave-js-ui/store/.gitkeep

config/frigate/*
!config/frigate/config.yml
