*.env
homeassistant/config/*
!homeassistant/config/.gitkeep

homeassistant/data/*
!homeassistant/data/.gitkeep

mariadb/data/*
!mariadb/data/.gitkeep
mariadb/logs/*
!mariadb/logs/.gitkeep

mosquitto/data/*
!mosquitto/data/.gitkeep
mosquitto/logs/*
!mosquitto/logs/.gitkeep

zwave-js-ui/db/*
!zwave-js-ui/db/.gitkeep
zwave-js-ui/store/*
!zwave-js-ui/store/.gitkeep
